<%= form_for(@portfolio) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </p>
  <p>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle%>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body%>
  </p>

  <p>
    <%= f.fields_for :technologies do |tech| %>
      <%= tech.label :name %>
      <%= tech.text_field :name %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
